*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
  --primary-color: rgb(238, 130, 238);
  --secondary-color: #ffffff;
  --background-image: url(./images/phone.jpg);
  --navbar-bg-color: black;
  --text-color: white;
  --blueviolet-color: blueviolet;
  --gray-color: rgb(96, 96, 96);
  --violet-color: violet;
  --image-margin: 60px;
  --btn-width: 200px;
}
/* Top container */
.container {
  height: 100vh;
  background-image: var(--background-image);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
/* navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: var(--navbar-bg-color);
}
.navbar img {
  width: 40px;
  margin-left: 20px;
}

.container1 ul {
  list-style: none;
  display: flex;
  margin-right: 50px;
}

.container1 ul li {
  margin-left: 20px;
}

.container1 ul a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.container1 ul a:hover {
  color: rgb(132, 225, 225);
}
/* heading inside image */
.heading {
  position: absolute;
  top: 250px;
  left: 6%;
  color: var(--text-color);
  font-size: 25px;
}
.heading h1{
    font-weight: bold;

}
.heading p{
    margin-top: 15px;
    line-height: 1.5;
    font-size: 19px;
}

@media (max-width: 480px) {
  .container1 ul a {
    font-size: 11px;
  }

  .heading {
    font-size: 20px;
  }
}

span {
  color: var(--blueviolet-color);
} 
.cont{
    margin-top: 40px;
    display: flex;
    justify-content: space-evenly;
} 
.head-cont{
    margin-left: 20px;
}

/* card section */
.content {
  margin-top: var(--image-margin);
}
.content h1{
    text-align: center;
    font-size: 40px;
}
.image-cont {
  margin-top: var(--image-margin);
  display: flex;
  justify-content: space-evenly;
}
.img-src img{
    width: 300px;
}
.img-src h3{
    font-weight: 900;
    margin-top: 30px;
}
.img-src p {
  margin-top: 20px;
  line-height: 1.5;
  color: var(--gray-color);
}

@media (max-width: 768px) {
  .content {
      margin-top: 40px;
  }

  .content h1 {
      font-size: 30px; 
  }

  .image-cont {
      flex-direction: column; 
      align-items: center; 
  }

  .img-src img {
      width: 100%; 
  }

  .img-src h3 {
      font-weight: 700; 
  }
}

@media (max-width: 480px) {
  .content {
      margin-top: 20px; 
  }

  .content h1 {
      font-size: 24px; 
    }

  .image-cont {
      margin-top: 20px; 
  }

  .img-src img {
      width: 100%;
  }

  .img-src h3 {
      font-weight: 700; 
      margin-top: 20px; 
  }

  .img-src p {
      margin-top: 10px; 
      line-height: 1.3; 
  }
}
/* 
image container section */

.image-content-wrapper {
  display: flex;
  margin-top: var(--image-margin);
  background: black;
  width: 100%;
  color: var(--text-color);
}
  
  .image {
    width: 50%;
    display: flex;
    justify-content: flex-start;
  }
  
  .image img {
    max-width: 100%;
    max-height: 100%;
  }
  
  .content3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 1.6;
    width: 50%;
    padding: var(--image-margin);
  }
  

  .content3 h2 {
    margin-left: var(--image-margin);
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 30px;
  }
  
  .content3 p {
    margin-left: var(--image-margin);
  }
  .span{
    color: black;
  }
  .btn1 {
    background-color: var(--violet-color);
    margin-left: var(--image-margin);
    width: var(--btn-width);
    color: var(--text-color);
    border: none;
    padding: 10px 20px;
    margin-top: 20px;
    cursor: pointer;
    text-decoration: none;
  }
  .image-content-wrapper1 {
    display: flex;
    background: black;
    width: 100%;
    color: var(--text-color);
  }
  .content4 {
    background: rgb(149, 35, 255);
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 1.6;
    width: 50%;
    padding: var(--image-margin);
  }
  
  .content4 h2 {
    margin-left: var(--image-margin);
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 30px;
  }
  
  .content4 p {
    margin-left: var(--image-margin);
  }
  
  .content5 {
    background: blueviolet;
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 1.6;
    width: 50%;
    padding: var(--image-margin);
  }
  
  .content5 h2 {
    margin-left: var(--image-margin);
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 30px;
  }
  
  .content5 p {
    margin-left: var(--image-margin);
  }
  .span{
    color: black;
  }

@media (max-width: 768px) {
  .image-content-wrapper {
      flex-direction: column; 
      align-items: center; 
      margin-top: 40px; 
  }

  .image {
      width: 100%;
      justify-content: center; 
      margin-top: 20px;
  }

  .content3 {
      width: 100%;
      margin-top: 20px; 
      padding: 40px; 
  }

  .content3 h2 {
      text-align: center; 
      margin-left: 0; 
  }
  .content3 p {
      text-align: center;
  }

  .btn1 {
     width: 80%;
  }
  .image-content-wrapper1{
    flex-direction: column;
    align-items: center;
  }
  .content4{
    width: 100%;
  }
  .content5{
    width: 100%;
  }
}


@media (max-width: 480px) {
  .image-content-wrapper {
      margin-top: 40px; 
  }

  .content3 {
      padding: 20px;
  }

  .content3 h2 {
      font-size: 24px; 
  }

  .content3 p {
      font-size: 16px; 
  }

  .btn1 {
      width: 100%; 
      margin-left: 0;
  }
}

/* footer section */
  .footer {
    background: black;
    padding: 70px;
    display: flex;
    justify-content: space-around;
    color: white;
    flex-wrap: wrap; 
    align-items: flex-start; 
}

.row1 {
    flex: 1;
    padding: 0 20px;
    margin-bottom: 20px; 
}

.row1 h3 {
    margin-bottom: 20px;
}

.one {
    display: flex;
    flex-direction: column;
    line-height: 3;
}

.one a {
    text-decoration: none;
    color: gray;
}

.line {
    border-top: 1px solid gray;
    width: 100%; 
    margin-bottom: 10px; 
}

.footer p {
    text-align: center;
    color: gray;
    width: 100%; 
}

@media (max-width: 768px) {
  .footer {
      padding: 40px;
  }

  .row1 {
      flex: 1;
      padding: 0 10px;
      margin-bottom: 20px;
  }

  .one {
      line-height: 2; 
  }
}

@media (max-width: 480px) {
  .footer {
      padding: 20px;
      justify-content: center; 
      text-align: center; 
  }

  .row1 {
      flex: 1;
      padding: 0 10px; 
      margin-bottom: 20px;
  }

  .row1 h3 {
      margin-bottom: 10px;
  }

  .line {
      margin-bottom: 5px;
  }
}